*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url("Assets/HomeImage.webp");
        background-size: contain;
    
    }
    div{
        display: inline;
    }
    
    h2 {
        position: relative;
        font-size: 14vw;
        color:#252839;
        -webkit-text-stroke: 0.3vw #383d52;
        text-transform: uppercase;
    }
    h2::before {
        content: attr(data-text);
        position: absolute;
        top:0;
        left:0;
        width: 0;
        height: 100%;
        color:#fe6601;
        -webkit-text-stroke: 0vw #383d52;
        border-right: 2px solid #fe0101;
        overflow: hidden;
        animation: animate 10s linear infinite;
    }
    .glow-on-hover {
        width: 220px;
        height: 50px;
        margin-left: 600px;
        margin-top: 10px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    a{
        color: white;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    
    @keyframes animate {
    
    
        0% ,10%,100%{
            width: 0;
        }
        70%,90%{
            width: 100%;
        }
    }